<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="nav-part">
         <a class="nav-link active" href="/" tabindex="-1" aria-disabled="true"><span class="material-symbols-outlined">home</span>Главная</a>
         <a class="nav-link active" href="/generator" tabindex="-1" aria-disabled="true"><span class="material-symbols-outlined">extension</span>Носкогенератор</a>
        </div>

        <div class="nav-part">
          {{#if user.name}}
          <a class="nav-link profile" href="#"><span class="material-symbols-outlined">person</span>{{user.name}}</a>
          {{/if}}
          <a class="nav-link active" href="/cart" tabindex="-1" aria-disabled="true"><span class="material-symbols-outlined">shopping_basket</span>Корзина</a>
          {{#if user.name}}
          <a class="nav-link active" href="/favorites"><span class="material-symbols-outlined">bookmark</span>Избранное</a>
          <a class="nav-link active" href="/user/logout"><span class="material-symbols-outlined">logout</span>Выход</a>
          {{else}}
          <div class="nav-buttons">
            <a class="btn btn-outline-dark" aria-current="page" href="/user/signin"><span class="material-symbols-outlined">login</span><span>Вход</span></a>
            <a class="btn btn-outline-dark" href="/user/signup"><span class="material-symbols-outlined">person_add</span><span>Регистрация</span></a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>

