<h1>Корзина</h1>
<div class="card" style="width: 18rem;">
  <img src="https://sc04.alicdn.com/kf/H105873d6f75f4843aae929149076214fm.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <input type="checkbox">
   
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary"></a>
  </div>
</div>

<div class="btn-group">
  <a href="#" class="btn btn-primary">Отправить Заказ</a>
</div>
