<h1>Корзина</h1>

{{#each combination}}
<div name="product">
  {{"Pattern.pattern_name"}}
  <div class="card" style="width: 18rem;">
      <div class="col-6 socks-output-container">
        {{!-- ОТОБРАЖЕНИ НОСКА --}}
        <div id="sock">
          {{!-- ТУТ БУДЕТ ЦВЕТ --}}
          <div><img src="/img/patterns/{{"UserCart.Pattern.pattern_url"}}" height="600" width="600"></div>
          <div><img src="/img/pictures/{{"UserCart.Picture.pic_url"}}" height="600" width="600"></div>
          <div><img src="/img/constructor.png" height="600" width="600"></div>
        </div>
      </div>
    <div class="card-body">
      <input type="checkbox">
  </div>   
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
  </div>
</div>
{{/each}}

<div class="btn-group">
  <a href="#" class="btn btn-primary">Отправить Заказ</a>
</div>
