
 
<div class="card" style="width: 18rem;">
  <img src="" class="card-img-top" alt="...">
  <div class="card-body">
{{!-- <img src="https://sc04.alicdn.com/kf/H105873d6f75f4843aae929149076214fm.jpg" class="card-img-top" alt="..."> --}}
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">В Корзину</a>
    <a href="#" class="btn btn-primary">Удалить</a>
    
    
  </div>
</div>






